@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta/Recoleta-Regular.woff2") format("woff2"), url("fonts/Recoleta/Recoleta-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta/Recoleta-Medium.woff2") format("woff2"), url("fonts/Recoleta/Recoleta-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta/Recoleta-SemiBold.woff2") format("woff2"), url("fonts/Recoleta/Recoleta-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta/Recoleta-Bold.woff2") format("woff2"), url("fonts/Recoleta/Recoleta-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GT Flexa";
  src: url("fonts/GT Flexa/GT-Flexa-Light-Trial.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT Flexa";
  src: url("fonts/GT Flexa/GT-Flexa-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT Flexa";
  src: url("fonts/GT Flexa/GT-Flexa-Medium-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GT Flexa";
  src: url("fonts/GT Flexa/GT-Flexa-Bold-Trial.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
}

.browserWidthCatch {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  transition: 0.4s opacity;
  pointer-events: none;
}
.browserWidthCatch p {
  font-family: "Recoleta";
}

.landingLogo {
  cursor: help;
}

.landingLogo:hover {
  animation: shake s;
}

.datavis .logo {
  cursor: pointer;
}

/* The Modal (background) */
.aboutModal {
  z-index: 1010;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(34, 38, 57, 0.7);
  pointer-events: none;
  transition: 0.2s opacity;
}

.showAbout {
  opacity: 1;
  pointer-events: visible;
}

/* Modal Content */
.about-modal-content {
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  border-radius: 20px;
  color: white;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px 10px 20px;
  width: 700px;
  padding: 40px 20px 80px 40px;
}
.about-modal-content .columns {
  grid-gap: 40px;
  display: grid;
  grid-template-columns: 416px 1fr;
}
.about-modal-content h4 {
  font-family: "Recoleta";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}
.about-modal-content b {
  font-weight: 300;
  font-family: "GT Flexa";
  font-size: 15px;
}
.about-modal-content p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: "GT Flexa";
}
.about-modal-content a {
  color: white;
  opacity: 100%;
  display: inline;
}
.about-modal-content a:visited {
  color: white;
}
.about-modal-content a:hover {
  opacity: 0.6;
}

.about-modal-content:after {
  content: "";
  display: table;
  clear: both;
}

.credits {
  color: white;
}

.landingCatch {
  background-color: #20232c;
}

@media only screen and (max-width: 790px) {
  .browserWidthCatch {
    opacity: 100%;
  }
}
body {
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #20232c;
  transition: background-color 0.3s;
  overflow-y: hidden;
  overflow-x: auto;
}

.loadingScreen {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20232c;
  color: white;
  font-family: "recoleta";
  font-size: 32px;
  transition: 2s opacity;
  pointer-events: none;
  opacity: 1;
}

.hideLoading {
  opacity: 0;
  transition: 1s opacity;
}

p,
a {
  font-family: "GT Flexa";
  font-weight: 300;
  font-size: 15px;
}

.logo {
  color: white;
  position: fixed;
  right: 40px;
  top: 30px;
  z-index: 10;
}
.logo a {
  font-size: 18px;
  font-family: "Recoleta" !important;
  font-weight: 600;
  transition: 0.2s opacity;
}
.logo a:hover {
  opacity: 0.5;
}

.landing {
  color: white;
  margin-left: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

ul {
  list-style-type: none;
  padding-left: 0;
  width: auto;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  width: auto;
}

.question {
  font-size: 24px;
  font-family: "Recoleta";
  margin-bottom: 10px;
  padding-left: 40px;
  opacity: 0;
  animation: fadeIn 1s ease-in both;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.careers:hover a:not(:hover) {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.careers a {
  font-family: "Recoleta";
  font-size: 48px;
  font-weight: 600;
  transition: opacity 0.2s;
  line-height: 1.3em;
  padding: 0 40px 0 40px;
  transition: background-color 0.2s, transform 0.1s;
  opacity: 0;
  animation: fadeIn 1s ease-in both;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.careers a:nth-child(1) {
  animation-delay: 0.2s;
}
.careers a:nth-child(2) {
  animation-delay: 0.4s;
}
.careers a:nth-child(3) {
  animation-delay: 0.6s;
}
.careers a:nth-child(4) {
  animation-delay: 0.8s;
}
.careers a:nth-child(5) {
  animation-delay: 1s;
}
.careers a:nth-child(6) {
  animation-delay: 1.2s;
}
.careers a:nth-child(7) {
  animation-delay: 1.4s;
}

.careers a:hover {
  transform: translateX(10px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
canvas {
  z-index: 0;
  overflow-y: hidden;
}

.blur {
  position: fixed;
  width: 215px;
  height: 100vh;
  right: 0px;
  top: 0px;
  background: linear-gradient(270deg, #4686fc 0%, rgba(70, 134, 252, 0) 76.51%);
}

.about {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: auto;
}

.button {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 100px;
  padding: 17px 45px 17px 45px;
  font-family: "GT Flexa";
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  transition: background-color 0.1s, transform 0.1s;
  color: white;
  text-align: center;
}

.quote-1,
.quote-2,
.quote-3,
.quote-4,
.quote-5 {
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 10;
  transition: opacity 0.5s;
}

.quote {
  color: blue;
}

.showQuote {
  opacity: 1;
}

.button:hover {
  transform: scale(1.03);
  background-color: rgba(255, 255, 255, 0.1);
}

.button:active {
  transform: scale(0.98);
}

.totalDesigner {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
  color: white;
}

.scrollable {
  overflow-y: auto;
  height: 1000px;
  width: 100%;
}

.designerCard::-webkit-scrollbar {
  width: 0;
}

.designerCard {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  height: 100%;
  background: yellow;
  background: rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  color: white;
  /* Note: backdrop-filter has minimal browser support */
  padding: 30px;
}
.designerCard img {
  width: 20%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.designerCard p,
.designerCard b,
.designerCard button {
  font-family: "Gt Flexa";
  color: white;
}
.designerCard #careerBio {
  color: rgba(255, 255, 255, 0.5);
}
.designerCard p {
  font-weight: 300;
}
.designerCard b {
  font-size: 15px;
}
.designerCard .randomizeDesigner {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: none;
}
.designerCard .randomizeDesigner:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.designerCard b {
  font-weight: 500;
}
.designerCard h1 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 126.5%;
  color: white;
  margin-bottom: 10px;
}
.designerCard .category {
  margin: 5px 0 5px 0;
}
.designerCard .category:first-child {
  margin-bottom: 12px;
}
.designerCard .whiteCard {
  background: rgba(255, 255, 255, 0.8);
  padding: 25px 15px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
}
.designerCard .dependentData {
  margin: 40px 0 20px 0;
}
.designerCard .dependentData p {
  color: #139444;
}
.designerCard .dependentData b {
  color: #139444;
}
.designerCard .dependentData #generatedData,
.designerCard .dependentData #generatedSkills,
.designerCard .dependentData #generatedBenefits,
.designerCard .dependentData #generatedSalary {
  opacity: 0.5;
}
.designerCard .dependentData #generatedSkills,
.designerCard .dependentData #generatedBenefits {
  margin-top: 5px;
}
.designerCard hr {
  margin: 40px 0 40px 0;
}

.portfolios {
  padding-bottom: 50px;
}
.portfolios .profile {
  margin: 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.portfolios .profile a {
  justify-self: end;
  text-decoration: underline;
  opacity: 0.75;
  transition: 0.1s opacity;
}
.portfolios .profile a:hover {
  opacity: 0.5;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Recoleta" !important;
  font-weight: 600 !important;
  font-size: 18px;
}

.data-question {
  opacity: 50%;
}

.data-answer,
.data-question,
.button {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.columnData {
  height: 100vh;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(5, 400px);
  transition: background-color 300ms;
}
.columnData .data-question {
  opacity: 70%;
}
.columnData p {
  text-align: center;
}
.columnData .content {
  margin-top: 112px;
  color: white;
}
.columnData .content .data-answer {
  padding: 5px 60px;
}
.columnData .content .button {
  width: 150px;
  margin: 0 auto;
  margin-top: 25px;
  pointer-events: auto;
  opacity: 0;
  transition: background-color 0.1s, transform 0.1s, opacity 300ms;
}
.columnData .column {
  display: grid;
  width: 400px;
  height: 100vh;
}

.show {
  background-color: rgba(255, 255, 255, 0.1);
}

.showButton {
  opacity: 1 !important;
}

/*# sourceMappingURL=style.css.map */
