@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Regular.woff2") format("woff2"),
    url("fonts/Recoleta-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Medium.woff2") format("woff2"),
    url("fonts/Recoleta-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-SemiBold.woff2") format("woff2"),
    url("fonts/Recoleta-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.woff2") format("woff2"),
    url("fonts/Recoleta-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  /* left: 0; */
  top: 0;
  margin: 0;
}

body {
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #20232c;
  transition: background-color 0.3s;
}

.loadingScreen {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20232c;
  color: white;
  font-family: "recoleta";
  font-size: 32px;
  transition: 2s opacity;
  pointer-events: none;
  opacity: 1;
}

.hideLoading {
  opacity: 0;
  transition: 1s opacity;
}

nav {
  font-size: 18px;
  font-family: "Recoleta";
  color: white;
  font-weight: 600;
  position: absolute;
  width: auto;
  right: 40px;
  top: 30px;
}

.landing {
  color: white;
  margin-left: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

ul {
  list-style-type: none;
  padding-left: 0;
  width: auto;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  width: auto;
}

.careers a {
  font-family: "Recoleta";
  font-size: 48px;
  font-weight: 600;

  transition: opacity 0.2s;
  line-height: 1.3em;
  padding: 0 40px 0 40px;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s, transform 0.1s;
  opacity: 0;
  animation: fadeIn 1s ease-in both;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.question {
  font-size: 24px;
  font-family: "Recoleta";
  margin-bottom: 10px;
  padding-left: 40px;
  opacity: 0;
  animation: fadeIn 1s ease-in both;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.careers:hover a:not(:hover) {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.careers a:hover {
  // background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(10px);
}

.careers a:nth-child(1) {
  animation-delay: 0.2s;
}
.careers a:nth-child(2) {
  animation-delay: 0.4s;
}
.careers a:nth-child(3) {
  animation-delay: 0.6s;
}
.careers a:nth-child(4) {
  animation-delay: 0.8s;
}
.careers a:nth-child(5) {
  animation-delay: 1s;
}
.careers a:nth-child(6) {
  animation-delay: 1.2s;
}
.careers a:nth-child(7) {
  animation-delay: 1.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  z-index: -10;
}
